name: Build and Push Docker Image

on:
  push:
    branches: [ "**" ]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v4
      - name: Get branch name
        shell: bash
        run: echo "branch=${GITHUB_REF#refs/heads/}" | tr '[:upper:]' '[:lower:]' >> $GITHUB_OUTPUT
        id: extract_branch
        

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            ghcr.io/${{ github.repository }}/app:${{ steps.extract_branch.outputs.branch }}
            ${{ github.ref == 'refs/heads/main' && format('ghcr.io/{0}/app:latest', github.repository) || '' }}
  deploy:
    needs: build
    if: github.ref == 'refs/heads/main'
    runs-on: self-hosted
    steps:
      - name: Pull new image and restart
        run: |
          cd /home/graphly/graphly-task
          docker compose -f docker-compose.prod.yml pull
          docker compose -f docker-compose.prod.yml up -d